<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="folderPath" value=""/> <!-- This is used to define the audio destination folder. If blank the program director is used. -->
    <add key="defaultAudioQuality" value="5"/> <!-- Sets the default audio quality. Remember that 0 is best, 9 is worst. -->
    <add key="defaultAudioFormat" value="mp3"/> <!-- Sets the default audio format. Anything other than a valid option is rejected and mp3 is used. 
    You can use the dropdown menu to select audio formats, this just sets it at program startup. -->
    <add key="keepOriginal" value="False"/> <!-- Default value of the Keep Original merge file checkbox. True for checked, False for unchecked. -->
    <add key="keepCommandWindowOpen" value="False"/> <!-- Default value of the Keep Command Window Open checkbox. True for checked, False for unchecked. -->
    <add key="nameOfYoutubeDL" value="youtube-dl"/> <!-- If your copy of youtube-dl is not called that, you can specify the program name in the program, 
    but it resets each time you open the program. If you want the change to be more permanent, you can change it here.-->
  </appSettings>
</configuration>