<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Youtube_DL_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Youtube_DL_Interface.Properties.Settings>
            <setting name="folderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="nameOfYoutubeDL" serializeAs="String">
                <value>youtube-dl</value>
            </setting>
            <setting name="defaultAudioQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="defaultAudioFormat" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="keepOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepCmdOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </Youtube_DL_Interface.Properties.Settings>
    </userSettings>
</configuration>